body { background-image:url(Congratulations\ Congratulations.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    border: 200px;
    

    

   }

h1 { 
    font-size: 12vw;
     font-family: 'TH Sarabun New','arial' ;
     text-align: center;
     position: relative;
     display: block;
    margin:auto;

}


b2 {
    border: 3px outset rgb(248, 55, 151);
    text-align: center;
    background-color: antiquewhite;
    padding: 1%;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    display: block;
    position: relative;
    bottom: -200px;
    margin: auto;
    width: 50%;
}

        

[role=button]{
    background-color:rgb(152, 161, 243) ;
}

button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    background-color: rgb(203, 189, 217);
}
#container {
    text-align: center;
    position: relative;
    bottom: -400px;
}

@media (max-width: 700px) 
{
    #container {
        text-align: center;
        position: relative;
        bottom: -400px;
    }
    }
    @media (min-width: 800px) {
        #container {
            text-align: center;
            position: relative;
            bottom: -200px;
        }
    }
    @media (min-width: 1000px) {
        #container {
            text-align: center;
            position: relative;
            bottom: -300px;
        }
    }